@tailwind components;
@tailwind utilities;
@tailwind base;
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@layer components {
    .lidefault {
        text-align: right;
    }
}

@theme {
    --animate-down: dropdown 200ms ease-in-out;
    @keyframes dropdown {
        from {
            transform: translateY(-10px)
        }
        to {
            transform: translateY(0px)
        }
    }
}

@theme {
    --animate-drog: toside 5s ease-in;
    @keyframes toside {
        from {
            transform: translateX(-20px)
            opacity: 0;
        }

        to {
            transform: translateX(0px)
            opacity: 1;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #f9ef23;
    --font-anton: 'Anton', sans-serif;
    --font-host: 'Host Grotesk', sans-serif;
}

li, span {
    list-style: none;
    font-family: var(--font-anton);
    color: var(--cor1);
    cursor: pointer;
}

